body {
    background-color: black;
}

header {
    background-color: rgb(133, 196, 252);
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 30px;
    padding-left: 5px;
}

header nav {
    padding-top: 20px;
    margin-right: 10px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.about-me img {
    width: 50%;
}

.about-me p {
    font-size: 20px;
    padding: 0 15px 0 15px;
    font-style: oblique; 
    text-align: center;
}

.my-work {
    background-color: rgb(133, 196, 252);
    padding: 10px;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    border-style: double;
}

.projects section {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.projects a {
    font-weight: 900;
    font-size: larger;
    padding: 20px;
    color: black;
}

.projects a:hover {
    color: white;
}

.projects img {
    width: 35%;
}

.projects img:hover {
    width: 40%;
}

footer {
    background-color: rgb(133, 196, 252);
}

footer nav ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.github {
    color: black;
    font-size: 30px;
}

.github:hover {
    color: white;
    font-size: 35px;
}